{{yield}}
{{input id="" placeholder="Seach by skill"}}
{{input id="" placeholder="Location"}}
<br><br>
<div class="github-search-results col-md-4">

</div>
<div class="stackoverflow-search-results col-md-4">

</div>

{{something}}