{{#each opportunities as |opportunity|}}
<div>
  {{opportunity.name}}
</div>
<div>
  {{opportunity.position}}
</div>
<div>
  {{opportunity.description}}
</div>
<br>
  

<!--   contacts: DS.hasMany('contact'),
  notes: DS.hasMany('note') -->
{{/each}}