<form>
  {{textarea value=content cols="50" rows="10"}}
  <p><strong>Attach a PDF file</strong></p>
  <p>{{input value=attachment type='file' id='file-field'}}</p>
  <br>
  <button class="btn btn-primary btn-sm" {{action "submit"}}>Create Note</button>
</form>
