<form>
{{input value=name class="form-control" placeholder="name"}}
{{input value=phone class="form-control" placeholder="phone"}}
{{input value=email class="form-control" placeholder="email" type='email'}}
  <br>
  <button class="btn btn-primary btn-sm" {{action "submit"}}>Create Contact</button>
</form>
